@inherits Umbraco.Web.Macros.PartialViewMacroPage

        @foreach (var page in CurrentPage.Site().Descendants("ProjectsItem").Where("Visible").Where("projectStatus == 9").OrderBy("CreateDate desc").Take(5))
{ 
	<ul>
    <div class="article">
        <div class="articletitle"><a href="@page.Url">@page.Name</a></div>
        <div class="articlepreview">@Umbraco.Truncate(@page.ArticleContents,100) <a href="@page.Url">Read More..</a></div>
    </div>
    <hr/>
			</ul>
}